<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PC Express</title>
</head>
<body>
    <p>
        <a href="/">Torna alla home</a>
    </p>
    <p>
        <a href="/pc/newpc_form">Aggiungi nuovo pc</a>
    </p>
    <h1>Catalogo PC</h1>
    <div th:if="${pcs.isEmpty()}">Non ci sono computer nel sistema.</div>
    <ul>
        <li th:each="pc : ${pcs}">
            <a th:href="|/pc/${pc.id}|"
               th:text="|${pc.nome}|">nome</a>
        </li>
    </ul>
</body>
</html>