<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>PC Express</title>
</head>
<body>
  <p>
    <a href="/">Torna alla home</a>
  </p>
  <h1>UTENTI</h1>
  <div th:if="${users.isEmpty()}">Non ci sono utenti registrati.</div>
  <ul>
    <li th:each="user : ${users}">
      <div>Email: <a th:href="|/admin/users/${user.id}|" th:text="|Email: ${user.email}|"></a></div>
      <div th:text="|Nome: ${user.firstName}|"></div>
      <div th:text="|Cognome: ${user.lastName}|"></div>
    </li>
  </ul>

</body>
</html>