<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>PC Express</title>
</head>
<body>
    <p><a href="/">Torna alla home</a></p>
    <p><a href="/sale/user_sales">Torna agli acquisti effettuati</a></p>
    <h1>Acquisto</h1>
    <h2 th:text="|Data: ${sale.getDateOfSale()}|">Data</h2>
    <h2 th:text="|Totale: ${sale.getPaidMoney()} euro|">Prezzo Totale</h2>
    <ul>
        <li th:each="soldItem : ${sale.getSoldItems()}">
            Articolo acquistato: <a th:href="|/pc/${soldItem.getPc().getId()}|"
            th:text="|${soldItem.getPc().getNome()}|">nome</a>
            <div th:text="|Prezzo di acquisto: ${soldItem.getPaidMoney()} euro|">prezzo</div>
            <div th:text="|Quantità: ${soldItem.getQuantity()}|">quantità</div>
        </li>
    </ul>
</body>
</html>