<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>PC Express</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>errore 400</h1>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" />
    <title>400 - PC Express</title>
    <link rel="stylesheet" th:href="@{/css/error_pages.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="error-container">

    <div class="error-card">

        <div class="error-code">
            400
        </div>

        <h1>Richiesta non valida</h1>

        <p>
            Qualcosa è andato storto nella richiesta.
            Controlla i dati inseriti e riprova.
        </p>

        <a href="/" class="home-btn">
            Torna alla Home
        </a>

    </div>

</div>

</body>
</html>