<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PC Express</title>
</head>
<body>
<h1>Clona il PC selezionato</h1>

<form th:action="@{/admin/pc/clone}" method="POST" th:object="${pc}">
    <!--    <div th:if="${#fields.hasGlobalErrors()}">-->
    <!--      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>-->
    <!--    </div>-->
    <div>
        <label>Nome:</label> <span><input type="text" th:field="${pc.nome}"/></span>
        <!--      <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>-->
    </div>
    <div>
        <label>Prezzo:</label> <span><input type="text" th:field="${pc.prezzo}" /></span>
    </div>
    <div>
        <label>Disponibilità:</label> <span><input type="text" th:field="${pc.disponibilita}" /></span>
    </div>
    <div>
        <label>Codice prodotto:</label> <span><input type="text" th:field="${pc.codice}" /></span>
    </div>
    <div>
        <label>CPU:</label> <span><input type="text" th:field="${pc.cpu}" /></span>
    </div>
    <div>
        <label>GPU:</label> <span><input type="text" th:field="${pc.gpu}" /></span>
    </div>
    <div>
        <label>RAM:</label> <span><input type="text" th:field="${pc.ram}" /></span>
    </div>
    <div>
        <label>ROM:</label> <span><input type="text" th:field="${pc.rom}" /></span>
    </div>
    <div>
        <label>Case:</label> <span><input type="text" th:field="${pc.casePc}" /></span>
    </div>
    <input type="hidden" th:field="${pc.id}"/>
    <div>
        <label>porta a zero la disponibilità di questo pc:</label> <span><input type="checkbox" name="toZero" /></span>
    </div>
    <div>
        <span><button type="submit">Conferma</button></span>
    </div>
</form>

</body>
</html>