<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>PC Express</title>
</head>
<body>
    <h1>Modifica il PC selezionato</h1>

    <form th:action="@{/admin/pc/modify}" method="POST" th:object="${pc}">
        <div>
            <label>Nome:</label> <span><input type="text" th:field="${pc.nome}"/></span>
            <span th:if="${#fields.hasErrors('nome')}" th:errors="${pc.nome}"></span>
        </div>
        <div>
            <label>Prezzo:</label> <span><input type="text" th:field="${pc.prezzo}" /></span>
            <span th:if="${#fields.hasErrors('prezzo')}" th:errors="${pc.prezzo}"></span>
        </div>
        <div>
            <label>Disponibilità:</label> <span><input type="text" th:field="${pc.disponibilita}" /></span>
            <span th:if="${#fields.hasErrors('disponibilita')}" th:errors="${pc.disponibilita}"></span>
        </div>
        <input type="hidden" name="pcId" th:field="${pc.id}"/>

        <div>
            <span><button type="submit">Conferma</button></span>
        </div>
    </form>

</body>
</html>